* {
    box-sizing: border-box;
}

:root {
    --color-one: #10cab7;
    --color-two: #f6f6f6;
    --big-text-color: #ebeced;
    --small-text-color: #797979;
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenar {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .contenar {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .contenar {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .contenar {
        width: 1170px;
    }
}

/* start header */
.header {
    padding: 20px;
}

.header .contenar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.he {
    position: relative;
}

.the {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.the1,
.the2,
.the3 {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
}

.the:hover .the2 {
    width: 100%;
}

.the2 {
    width: 50%;
    transition: 0.5s;
}

ul {
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    margin: 0;
    padding: 0;
    top: calc(100% + 15px);
    display: none;
    list-style: none;
    z-index: 1;

}

.contenar .he:hover ul {
    display: block;
}

ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

ul li a:hover {
    transform: translateX(15px);
}

ul li a {
    list-style: none;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

ul li:not(:last-child) {
    border-bottom: 1px solid black;
}

.header img {
    width: 60px;
}

/* end header */
/* start hallo */
.hallo {
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.hallo .text-hallo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.hallo h1 {
    font-size: 50px;
    margin: 0;
    color: #10cab7;
    padding: 10px;
}

.hallo .small {
    font-size: 19px;
    line-height: 1.8;
}

/* end hallo */
/* start under hallo */
.under {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.under .contenar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px 0px;
}

.feat {
    padding: 20px;
    text-align: center;
}

.under img {
    width: 100px;
}

.under .bigs {
    font-weight: 800;
    color: var(--main-color);
    font-weight: bold;
}

.smalls {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end under hallo */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .contenar {
    text-align: center;
}

.big-text {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.small-text {
    margin: -30px 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

.se {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.imge {
    text-align: center;
    position: relative;
}

.imge::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.imge img {
    width: 260px;
}

@media (max-width: 1199px) {
    .imge {
        display: none;
    }

}

@media (max-width: 768px) {

    .se1,
    .se2,
    .se3,
    .se4 {
        flex-direction: column;
        text-align: center !important;
    }

}

.se {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.se1,
.se2,
.se3,
.se4 {
    display: flex;
    text-align: left;

    margin-bottom: 40px;
}

.text {
    flex: 1;
}

.text h3 {
    margin: 0 0 20px;
}

.text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.fa-brands,
.fab {
    font-weight: 400;
    font-size: 50px;
    color: var(--color-one);
    flex-basis: 60px;
}


/* end services */
/* start about */
.about {
    background-color: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.ab {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;

}

.ab1 {
    background-color: white;
}

.ab img {
    width: 100%;
}

.bigab {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.smallab {
    padding: 0 20px 20px;
    color: var(--small-text-color);
}

/* end about */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.portfolio .po {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

@media (max-width: 991px)  {
    .po{
    flex-direction: column;
    text-align: center;
}
}
@media (max-width: 991px){
.im {
    margin: 0 auto 60px;
}
}
.im::after{
    content: "";
    width: 100px;
    height: calc(100% );
    border-left: 100px solid var(--color-one);
    border-bottom: 70px solid var(--color-one);
    position: absolute;
    top: -40px;
    z-index: -1;
    left: 175px;
}
.im::before{
    content: "";
    /* width: 100%; */
    height: calc(100% + 80px );
    border-left: 100px solid var(--small-text-color);
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
@media (max-width: 767px){
    .im::after{
        content: "";
        display: none;
    }
    .im::before{
        content: "";
        display: none;
    }
}
.contenar .im  {
    position: relative;
    width: 250px;
    height: 375px;
}
.im img{
    max-width: 100%;
}
.po1 {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    flex-basis: calc(100% - 500px);
}
.po1 hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.po1 p:nth-child(3){
    color: var(--small-text-color);
}
/* end portfolio */
/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding));
    background-color: #f6f6f6;
    text-align: center;
}
.contact .head-text{
    margin-bottom: 50px;
}
.textc{
    padding: 50px;
    line-height: 1.6;
}
.textc .text1{
    font-size: 40px;
    word-spacing: -5px;
    color: var(--secondary-color);
}
.textc .text2 a{
    text-decoration: none;
    font-size: 50px;
    color: var(--color-one);
}
.textc .text3 i{
    font-size: 20px;
    letter-spacing: 5px;
    padding-left: 5px;
}
@media (max-width: 767px){
.head-text .big-text {
    font-size: 60px;
}
}
@media (max-width: 767px){
.head-text .small-text {
    margin-top: -20px;
}
}
@media (max-width: 767px){
.textc .text2 ,
.textc .text1 a {
    font-size: 25px;
}
.textc .text1{
    font-size: 20px;
    word-spacing: 2px;
}
}
/* end contact */
/* start footer */

.footer{
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.textf span{
    color: #10cab7;
}
/* end footer */